<!--
	To get this test harness project running perform the following steps below.
	
	1. Copy this file and rename it to appsettings.config.
	2. Replace the example EnvUrl setting below with the URL of your own.
	3. Replace the example ClientId setting below with Client Id of an app registration, that has a security role in your Dataverse environment.
	4. Replace the example Secret setting below with the Secret for the app registration.
-->

<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="EnvUrl" value="https://{domain}.crm{region}.dynamics.com" />
	<add key="ClientId" value="{ClientId}" />
	<add key="Secret" value="{Secret}" />
</appSettings>