<!--
	To get this test harness project running perform the following steps below.
	
	1. Copy this file and rename it to appsettings.config.
	2. Replace the example EnvUrl setting below with the URL of your own.
	3. Run the project.
-->

<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="EnvUrl" value="https://{domain}.crm{region}.dynamics.com" />
</appSettings>